<div id="<%= dom_id brand %>">
  <p>
    <strong>Brand name:</strong>
    <%= brand.brand_name %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= brand.company_name %>
  </p>

  <p>
    <strong>Start year:</strong>
    <%= brand.start_year %>
  </p>

  <p>
    <strong>End year:</strong>
    <%= brand.end_year %>
  </p>

  <p>
    <strong>Origin country:</strong>
    <%= brand.origin_country %>
  </p>

  <p>
    <strong>Domestic country:</strong>
    <%= brand.domestic_country %>
  </p>

</div>
