<div id="<%= dom_id product %>">
  <p>
    <strong>Tên sản phẩm:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Loại sản phẩm (1: Vật lý, 2: Điện tử/File):</strong>
    <%= product.product_type %>
  </p>

  <p>
    <strong>Kích thước chiều rộng:</strong>
    <%= product.size_width %>
  </p>

  <p>
    <strong>Kích thước chiều cao:</strong>
    <%= product.size_height %>
  </p>

  <p>
    <strong>Kích thước Độ dài:</strong>
    <%= product.size_length %>
  </p>

  <p>
    <strong>Đơn vị đo lường Kích thước:</strong>
    <%= product.unit_of_size %>
  </p>

  <p>
    <strong>Ngày sản xuất (Nếu chỉ biết năm, nhập dạng 1/1/2024):</strong>
    <%= product.manufactured_date %>
  </p>

  <p>
    <strong>Ngày hết hạn (Nếu chỉ biết năm, nhập dạng 1/1/2026):</strong>
    <%= product.experied_date %>
  </p>

  <p>
    <strong>Mã số Nhà sản xuất:</strong>
    <%= product.brand_id %>
  </p>

  <p>
    <strong>Màu sắc:</strong>
    <%= product.color %>
  </p>

  <p>
    <strong>SKU:</strong>
    <%= product.sku %>
  </p>

</div>
